.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    color: rgb(63, 63, 163);
}

.card img {
    height: 90px;
    width: 90px;
}


@media (max-width: 768px) {
    .card-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}