.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}